{
  "telegram_token": "8414259724:AAGB0TH5pdylGEhFk8RmLKTm-HW6KLUq7fY",
  "authorized_user_id": 6804894613,
  "cache_ttl_seconds": 600,
  "profiles": {
    "youtube_channel_url": "https://www.youtube.com/@jdfxop",
    "tiktok_username": "cortesdojotade"
  }
}
